# data science tolls and Ecosystem
in this notebook , data science tolls and Ecosystem summarized

some of the popular languages that data scientists use are :
- python
- R
- SQL

some of the commonly used libraries used by data scientists include :
- pandas 
- NumPy
- Matplotlib
    
   { data science tolls } 
   :------------------:
     jupyter notebook
     apache spark
     apache hadoop
     
### below are a few exemples of evaluating artemetic expressions in python
this simple arthemetic expression to mutiply then add integers 
   (3*4)+5
   
This will convert 200 minutes to hours by diving by 60